.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--primary {
        background-color: var(--dark);
        color: var(--white);
    }

    &--secondary {
        background-color: var(--blue);
        color: var(--white);
    }

    &--danger {
        background-color: var(--orange);
        color: var(--dark);
    }

    &:hover {
        opacity: 0.9;
    }
}

.btn--sm {
    padding: 5px 10px;
    font-size: 12px;
}

.btn--md {
    padding: 10px 20px;
    font-size: 14px;
}

.btn--lg {
    padding: 15px 30px;
    font-size: 20px;
}

.icon {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}