section.hero {
    background-color: var(--light-background);
    color: var(--dark-background);
    align-items: center;

    .title {
        font-size: 2.5rem;
        margin: 0;
    }

    .cta {
        align-self: flex-end;
    }
}